.tile-list {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    float: left;
    margin: 0 5px 5px 0;
}

.tile img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 300px;
}

.picture {
}
