* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tile-list {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    float: left;
    margin: 0 5px 5px 0;
}

.tile img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 300px;
}

.picture {
    position: absolute;
    top: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.picture img {
    object-fit: cover;
    object-position: center;
    height: auto;
    max-width: 1000px;
}